@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

.hero {
  padding: 162px 0 141px;
  background: $color-bg;

  &__content {
    max-width: 540px;
  }

  &__title {
    margin-bottom: 50px;
    font-size: 48px;
    font-weight: 500;
    line-height: 1.3;
    color: $color-black;
  }

  &__text {
    margin-bottom: 57px;
  }

  &__button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 225px;
    height: 65px;
    background: $color-primary;
    color: $color-white;
    text-transform: uppercase;

    @include transition(background);

    &:hover {
      background: #243f5d;
    }
  }
}
